/* name of the region ('bubble' by default) */
 #map-continents.script #continents a{
  background:#111;
  background: rgba(60,60,60,0.9);
  color:#eee;
  font-size:1em;
  padding:.4em 1.1em;
  text-align:center;
  text-shadow:0 1px 0 #000;
  white-space:nowrap;
  -moz-border-radius:.6em;
  -ms-border-radius:.6em;
  -o-border-radius:.6em;
  -webkit-border-radius:.6em;
  border-radius:.6em;
 }

/* arrow under the 'bubble'; when you remove a 'bubble' or arrow dont't forget to set a var tooltipArrowHeight='0' in the continents-map.js file in the 5th line */
 #map-continents.script #continents a:after{
   bottom:-4px;
   border:solid;
   border-color:#111 transparent;
   border-color:rgba(60,60,60,0.85) transparent;
   border-width:4px 4px 0 4px;
   content:""; /* must be empty */
   display:block;
   left:50%;
   margin-left:-4px;
   position:absolute;
  }

/* style of the 'bubble' for the activated region */
 #map-continents.script #continents .active-region a{background-color:#111}
  #map-continents.script #continents .active-region a:after{border-color:#111 transparent}

/* links in the visible list of regions */
 #continents a,#map-visible-list a{color:#eee}
  #continents a:hover,#continents a:focus,#map-visible-list a.focus{color:#ffc000}
  #continents a:active,#map-visible-list a.active-region{color:#cc3}


/* default pre-loader styles */
 #loader{
   background:#111;
   background:rgba(0,0,0,.8);
   color:#eee;
   font-size:1.2em;
   padding:.6em 1.2em;
   text-shadow:0 1px 0 #000;
   -moz-border-radius:.6em;
   -ms-border-radius:.6em;
   -o-border-radius:.6em;
   -webkit-border-radius:.6em;
   border-radius:.6em;
  }

/* link to the search engine (shown in the multiple-click mode) */
 #search-link{
   background:#111;
   color:#eee;
   float:right;
   font-size:1.2em;
   margin-right:30px;
   padding:.6em 1.2em;
   text-decoration:none;
   -moz-border-radius:.6em;
   -ms-border-radius:.6em;
   -o-border-radius:.6em;
   -webkit-border-radius:.6em;
   border-radius:.6em;
  }
  #search-link:hover,#search-link:focus{color:#fd0}

/* --------------------------------------------------------
the map starts here

DO NOT EDIT! 

World continents, CSS & jQuery clickable map - 540px | http://winstonwolf.pl/clickable-maps/world-continents.html
script version: 3.6 by Winston Wolf | http://winstonwolf.pl
Copyright (C) 2011 Winston_Wolf | All rights reserved
*/
#map-continents{min-height:315px;margin:0 auto;position:relative;width:540px}
#continents,#continents .bg{background:transparent url('continents-540px.png') no-repeat -1025px 0}
 #map-continents.script #continents{background-position:0 -415px;display:block;height:315px;left:50%;list-style:none;margin-left:-270px;position:relative;width:540px}
 #map-continents.script.multiple-click{overflow:hidden}
  #map-continents.script #continents li{height:0;text-indent:-9999em;width:0}
  #map-continents.script #continents a{cursor:pointer;height:auto;margin:0;position:absolute;text-decoration:none;text-indent:0;width:auto;z-index:89}
   #map-continents.script #continents a:focus{outline:0 none}
  #continents span{display:block;height:0;left:0;position:absolute;top:-9999px;width:0}
  #continents .bg{padding:10px}
   #continents .active-region .bg{z-index:87}
  #continents .map{cursor:pointer;margin:10003px 0 0 4px;z-index:99}
  #continents .map span{font-size:50px;z-index:89}
 #map-continents.no-tooltip #continents a{top:-9999em} #map-continents.no-tooltip #continents a:after{display:none}
 #loader{left:50%;position:absolute;top:50%;z-index:90}
/* --------------------------------------------------------

really, DO NOT EDIT THIS! */
#c1:hover .bg,#c1.focus .bg,#c1 a.active-region .bg{height:113px;left:213px;top:114px;width:99px}#c1:hover .bg,#c1.focus .bg{background-position:-263px -7px}#c1.active-region .bg{background-position:-773px -7px} #c2:hover .bg,#c2.focus .bg,#c2 a.active-region .bg{height:175px;left:275px;top:24px;width:223px}#c2:hover .bg,#c2.focus .bg{background-position:-4px -150px}#c2.active-region .bg{background-position:-514px -150px} #c3:hover .bg,#c3.focus .bg,#c3 a.active-region .bg{height:71px;left:415px;top:188px;width:95px}#c3:hover .bg,#c3.focus .bg{background-position:-391px -29px}#c3.active-region .bg{background-position:-901px -29px} #c4:hover .bg,#c4.focus .bg,#c4 a.active-region .bg{height:105px;left:203px;top:14px;width:134px}#c4:hover .bg,#c4.focus .bg{background-position:-100px -5px}#c4.active-region .bg{background-position:-610px -5px} #c5:hover .bg,#c5.focus .bg,#c5 a.active-region .bg{height:164px;left:10px;top:10px;width:203px}#c5:hover .bg,#c5.focus .bg{background-position:-257px -162px}#c5.active-region .bg{background-position:-767px -162px} #c6:hover .bg,#c6.focus .bg,#c6 a.active-region .bg{height:111px;left:126px;top:171px;width:67px}#c6:hover .bg,#c6.focus .bg{background-position:-4px -9px}#c6.active-region .bg{background-position:-514px -9px}
#c1 .s1{height:.3em;left:5.2em;top:4.4em;width:.7em}#c1 .s2{height:.5em;left:5.2em;top:3.9em;width:1.2em}#c1 .s3{height:.2em;left:6.3em;top:3.2em;width:.1em}#c1 .s4{height:.4em;left:6.2em;top:3.2em;width:.1em}#c1 .s5{height:.5em;left:6.1em;top:3.2em;width:.1em}#c1 .s6{height:1em;left:6em;top:3.1em;width:.1em}#c1 .s7{height:1.3em;left:5.2em;top:2.9em;width:.8em}#c1 .s8{height:.7em;left:4.3em;top:2.7em;width:.2em}#c1 .s9{height:1.2em;left:5.1em;top:2.6em;width:.8em}#c1 .s10{height:1em;left:4.5em;top:2.5em;width:1.1em}#c1 .s11{height:.1em;left:4.9em;top:2.4em;width:.3em} #c2 .s1{height:.2em;left:7.3em;top:.6em;width:.9em}#c2 .s2{height:.3em;left:9.3em;top:.9em;width:.8em}#c2 .s3{height:.4em;left:6.8em;top:.8em;width:2.5em}#c2 .s4{height:.4em;left:6.7em;top:1.2em;width:3.4em}#c2 .s5{height:.4em;left:6.6em;top:1.5em;width:3em}#c2 .s6{height:.3em;left:6.5em;top:1.8em;width:2.6em}#c2 .s7{height:.1em;left:8.2em;top:4em;width:.7em}#c2 .s8{height:.1em;left:9.2em;top:3.8em;width:.1em}#c2 .s9{height:.2em;left:8.1em;top:3.8em;width:1.1em}#c2 .s10{height:.2em;left:8em;top:3.7em;width:1em}#c2 .s11{height:.2em;left:7.9em;top:3.6em;width:.8em}#c2 .s12{height:.2em;left:7.7em;top:3.4em;width:.8em}#c2 .s13{height:.2em;left:7em;top:3.2em;width:1.6em}#c2 .s14{height:.1em;left:6.1em;top:3.1em;width:2.4em}#c2 .s15{height:.2em;left:6em;top:2.9em;width:.4em}#c2 .s16{height:.3em;left:5.9em;top:2.6em;width:.5em}#c2 .s17{height:1.2em;left:6.4em;top:1.9em;width:2em}#c2 .s18{height:.1em;left:6.3em;top:1.9em;width:.1em}#c2 .s19{height:.1em;left:6em;top:2.1em;width:3.1em}#c2 .s20{height:.1em;left:5.8em;top:2.5em;width:3.2em}#c2 .s21{height:.3em;left:5.7em;top:2.2em;width:3.4em}#c2 .s22{height:.1em;left:5.6em;top:2.3em;width:.1em} #c3 .s1{height:.4em;left:9.6em;top:4.5em;width:.1em}#c3 .s2{height:.2em;left:10.3em;top:4.9em;width:.1em}#c3 .s3{height:.2em;left:9.9em;top:5.1em;width:.3em}#c3 .s4{height:.4em;left:10.1em;top:4.8em;width:.2em}#c3 .s5{height:.1em;left:9.3em;top:5.1em;width:.2em}#c3 .s6{height:.7em;left:8.4em;top:4.3em;width:.3em}#c3 .s7{height:.7em;left:8.6em;top:4.2em;width:.3em}#c3 .s8{height:.8em;left:8.9em;top:4.1em;width:.2em}#c3 .s9{height:1em;left:9.1em;top:4em;width:.1em}#c3 .s10{height:1.2em;left:9.2em;top:3.9em;width:.4em} #c4 .s1{height:.1em;left:5.2em;top:2.4em;width:.5em}#c4 .s2{height:.1em;left:4.6em;top:2.4em;width:.3em}#c4 .s3{height:.1em;left:4.6em;top:2.3em;width:1em}#c4 .s4{height:.1em;left:4.6em;top:2.2em;width:1.1em}#c4 .s5{height:.1em;left:4.6em;top:2.1em;width:1.4em}#c4 .s6{height:.2em;left:4.6em;top:1.7em;width:.1em}#c4 .s7{height:.2em;left:4.7em;top:1.9em;width:1.6em}#c4 .s8{height:.1em;left:6.3em;top:2em;width:.1em}#c4 .s9{height:.4em;left:4.7em;top:1.5em;width:1.8em}#c4 .s10{height:.5em;left:5em;top:1.3em;width:1.6em}#c4 .s11{height:.3em;left:5.1em;top:1.2em;width:1.6em}#c4 .s12{height:.1em;left:5.5em;top:.9em;width:.3em}#c4 .s13{height:.2em;left:5.2em;top:1em;width:1.6em}#c4 .s14{height:.2em;left:6.3em;top:.8em;width:.3em}#c4 .s15{height:.2em;left:6.4em;top:.6em;width:.5em}#c4 .s16{height:.3em;left:5.2em;top:.4em;width:.5em}#c4 .s17{height:.2em;left:4.2em;top:1.2em;width:.3em} #c5 .s1{height:.1em;left:2.7em;top:3.5em;width:.2em}#c5 .s2{height:.1em;left:2.5em;top:3.4em;width:.3em}#c5 .s3{height:.1em;left:2.3em;top:3.3em;width:.5em}#c5 .s4{height:.2em;left:2.1em;top:3.1em;width:1.2em}#c5 .s5{height:.2em;left:1.9em;top:3em;width:1em}#c5 .s6{height:.2em;left:1.7em;top:2.8em;width:1.2em}#c5 .s7{height:.2em;left:1.6em;top:2.6em;width:1.4em}#c5 .s8{height:.2em;left:1.5em;top:2.4em;width:1.7em}#c5 .s9{height:.2em;left:1.3em;top:2em;width:.2em}#c5 .s10{height:.9em;left:.5em;top:1.1em;width:1em}#c5 .s11{height:.9em;left:.3em;top:1.2em;width:.2em}#c5 .s12{height:.2em;left:.6em;top:3.1em;width:.2em}#c5 .s13{height:1.3em;left:1.5em;top:1.1em;width:2em}#c5 .s14{height:1.6em;left:1.9em;top:.7em;width:1.8em}#c5 .s15{height:1.1em;left:2.3em;top:.6em;width:1.7em}#c5 .s16{height:.3em;left:1.5em;top:.8em;width:2.9em}#c5 .s17{height:.5em;left:4.2em;top:.6em;width:.1em}#c5 .s18{height:.8em;left:2.4em;top:.5em;width:1.8em}#c5 .s19{height:.2em;left:2.4em;top:.4em;width:1.7em}#c5 .s20{height:.2em;left:3.4em;top:.3em;width:.6em} #c6 .s1{height:.6em;left:2.8em;top:5.2em;width:.4em}#c6 .s2{height:.3em;left:2.8em;top:4.9em;width:.7em}#c6 .s3{height:.3em;left:2.9em;top:4.7em;width:.8em}#c6 .s4{height:.4em;left:3.9em;top:4em;width:.1em}#c6 .s5{height:.8em;left:2.9em;top:3.9em;width:1em}#c6 .s6{height:.8em;left:2.8em;top:3.7em;width:.7em}#c6 .s7{height:.4em;left:2.6em;top:3.8em;width:1em}#c6 .s8{height:.8em;left:2.7em;top:3.6em;width:.7em}#c6 .s9{height:.1em;left:2.9em;top:3.5em;width:.2em} 
#c1 a{left:272px;top:170px}#c2 a{left:385px;top:105px}#c3 a{left:457px;top:233px}#c4 a{left:280px;top:95px}#c5 a{left:121px;top:120px}#c6 a{left:170px;top:220px}
/* --------------------------------------------------------
end of the map */
