/**
 * frontpage widgets
 **/
 
 /* TEMPORARY - PLEASE DELETE SOON */
 
#world-map-test {
	padding: 20px 0;
}

body.home .widget{
	margin-bottom: $margin;
}

#content .frontpage-column{
	overflow:hidden;
}

#content .frontpage-column h3 {
	//text-indent: 25px;
	//background: url(../../img/reddot.png) center left no-repeat;
	padding: 0;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}

#content #column-left {
	@include column( $body-container-cols * 2 / 3); 	
	
	h3 {
		margin-top: 20px;
		text-align: center;
	}
}
#content #column-right {
	@include column( $body-container-cols / 3, true); 
	
	.button-book {
		margin-bottom: 35px; 
	}
	
	#clinics{ margin-top: 30px;	}	
	.bookingimage {float:right; clear: both; height:140px; margin-top: 20px;}
	
	.button-pre-text {
		width: 75%;
		text-align: center;
		margin: 0 auto 10px auto;
		font-style: italic;
		color: #b3b3b3;
	}
}

$travelwidth: $body-container-cols * 2 / 3;

#travelguide-before {	
	padding-top: 20px;
	@include column($travelwidth / 3);
	text-align: right;
	font-size: 12px; }
#travelguide-after {
	padding-top: 20px;	
	@include column(floor($travelwidth / 3), true);
	text-align: left;
	font-size: 12px; }
#travelguide {
	margin: 10px auto 0 auto;
	position: relative;
	@include column($travelwidth / 3); 	
	z-index: 10;
						
	input.ui-autocomplete-input {
		@include border-radius(5px);
		//@include background-image(linear-gradient(#fff, #f0f0f0));
		width: 188px - (2 * 10px);
		padding: 10px;
		border: 0px;
		border-bottom: 1px solid #bebebe;
		border-right: 0px solid #bebebe;		
		border-left: 0px solid #bebebe;				
		border-top: 0px;
		background-color: #fff;
		color: #000;
		outline: none;
		font-size: 12px;
		font-family: Verdana, Arial, sans-serif;
	}
}

/**
 * frontpage content slider 
 */
 #tabs { 

 	// height of content slider
	$featured-height: 183px;
	
	// columns for right column (tabs)
	$one_third: floor($body-container-cols * 1 / 3);
	
	// columns for left colum (content)
	$two_thirds: ceil($body-container-cols * 2 / 3);
	 
	@include column($body-container-cols, true); 

	border: 1px solid #ccc;	
	position:relative; 
	height:$featured-height; 
	margin-bottom: $blueprint-grid-margin * 2;
	padding: 0;
	overflow: hidden;
	@include border-radius(0);
	
	// tabs content
	> div {				
		@include column($two_thirds, true); 		

		height:  $featured-height;							
		padding: 0;			
		position: relative;
		overflow:hidden;
		
		img {
			position:absolute;
			top:0;
			left: 0;
			z-index: 1;
		}				
		
		div.inner {
			@include column($one_third, true); 		
		
			position:relative;
			z-index: 2;			
			float:right;
			padding: $blueprint-grid-margin * 2;
			height:  $featured-height;			
			//border-left: 1px solid #ccc;

			/* Opacity and fall-back for browsers that don't support rgba */	
			background: rgb(255,255,255); 
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
			background: rgba(255,255,255, 0.8);
			
			.header{ margin: 0 0 10px 0; }
			
			.button {
				position:absolute;
				bottom: 50px;
				right: 10px;
			}
		}		
	}

	/* tabs container */
	ul { 
		// override normal blueprint columns
		@include float-left;	
		width: span($one_third) + $blueprint-grid-margin;
		@include last;
		
		background: none;
		border: 0;
		padding: 0;
				
		li:first-child {
			border-top: 0;
		}
		
		/* single tab  */
		li { 
			@include background-image(linear-gradient(color-stops(#f9f9f9, #eee)));
			margin: 0;
			text-indent: 0px;
			@include border-radius(0px);
			width: 100%;	
			border: 1px solid #ccc;			
			padding-bottom: 0px;		
			background-position: 85% 50%;
			@include transition-property(all);
			@include transition-duration(2s);					
			
							
				/*  link */
				a { 
					padding: 5px 0;
					display:block;
					text-decoration: none;
					height:50px; 
					color:#000;  
					font-size: 16px;		
					width: 100%;
				}
			
			// image
			a img{	 
				margin: 5px 20px;
				width: 40px;
				vertical-align:middle;
			}

			// text
			a .title{ 
				line-height: 52px;
			}												
		}
		
		/* selected/hovered tab */
		li.ui-tabs-selected{
			background-image: url(../../img/content-slider-active-icon.png);
			background-position: 95% 50%;
			background-repeat: no-repeat;		
		}					
	}	
}

/* Map */
#map-continents {
	padding-top: 50px;	
	#continents li .bg {
		@include opacity(0);
		@include transition-property(opacity);
		@include transition-duration(0.5s);	
	}
	#continents li:hover .bg {
		@include opacity(1);	
	}
}
