/**
 * Utilities (_utilities.scss)
 */

 /* Buttons */

	a.button-book,
	#column-right a.button-book {
		@include background-image(linear-gradient($color-contrast-b, $color-contrast));
		@include border-radius(4px);
//	@include box-shadow(0px 1px 4px rgba(000,000,000,0.3),0px 0px 1px rgba(255,255,255,0.7));
		position: relative;
		background-color: $color-contrast-b;
		display: block;
		float: right;
		width: 100%;
		margin: 0 0 20px 0;
		border-top: 1px solid lighten($color-contrast-b, 10%);
		border-bottom: 1px solid darken($color-contrast, 10%);		
		//clear: both;
//	border: 1px solid #187805;

		&:hover {
			@include background-image(linear-gradient(lighten($color-contrast-b, 5%), lighten($color-contrast, 5%)));		
//		@include box-shadow(0px 1px 4px rgba(000,000,000,0.4), 1px 0px 2px rgba(255,255,255,0.7));		
			background-color: lighten($color-contrast-b, 5%);
			border-top: 1px solid darken($color-contrast-b, 10%);
			border-bottom: 1px solid lighten($color-contrast, 10%);					
//		border: 1px solid #208c0b;
			color: #fff;
			text-decoration: none;
			top: 1px;			
		}
				
		.button-book-title {
			@include text-shadow(0 -1px 1px rgba(000,000,000,0.2));		
			float: left;
			color: #fff;
			font-size: 22px;
			line-height: 1em;			
			font-weight: normal;
			//font-style: italic;			
			text-transform: uppercase;
			//font-family: Georgia, verdana, sans-serif;			
			padding: 24px 0 24px 34px;		
			letter-spacing: -0.05em;	
		}
		
		.button-book-meta {
			//@include text-shadow(0 -2px 0px rgba(000,000,000,0.2), 0 1px 0 rgba(255,255,255,0));		
			//@include text-shadow(0 1px 0 rgba(255,255,255,0.3));					
			padding: 20px 34px 20px 0;			
			float:right;
			font-style: italic;						
			text-align: right;
			line-height: 1.5em;
			font-size: 10px;
			text-transform: lowercase;			
			color: rgba(255,255,255,1);
		}
		
	}
	
	a.button-sidebar {
		margin-top: 20px;

		.button-book-title {
			font-size: 18px;
			padding: 16px 0 16px 24px;
			margin: 0 auto;
		}
	}	
	
	.single a.button-book {
		width: auto;
		
		.button-book-title {
			//background-image: url('../../img/icon_booking.png');
			background-repeat: no-repeat;
			background-position: 87% 50%;
			font-size: 16px;
			padding: 14px 22px 14px 22px;
			margin: 0 auto;
		}

	}
	
	a.button-book.large {		
		line-height: 28px;
		font-size: 1.8em;
	}	
