/**
 * Main (main.scss)
 */

// Load the base
@import "base";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/gradient";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "utilities";
@import "front";

/**
 * Body
 ************************************************/

@include blueprint-typography();

body {
	line-height: 1.8em;
	font-style: normal;
	font-family: $typography-family-primary;
	color: $color-primary-b;
	background-image: url('../../img/bg.png');
	background-position: top center;
	background-repeat: repeat-x;
	background-color: #fff;
}

	#wrapper {
		@include container;		
		position: relative;
		//@include box-shadow(0px 5px 15px rgba(100,100,100,0.10));		
		min-height: 100%;
	}
	
	// Wrapper for everything inside of the body
	#body-container {
		//@include prepend(1);
		//@include append(1);	
		background-color: #fff;		
		@include column($body-container-cols, true); 
		padding: 0 10px 10px 10px;
		@include border-radius(0 0 $radius $radius);
		border-bottom: 1px solid darken($color-secondary-c, 10%);
	}

/**
 * Header
 ************************************************/

// Contains entire header
#header-container {}

	// Contains site title and tagline
	#header {
		@include column(48, true); 
		//height:130px;
		margin: $blueprint-grid-margin 0 15px 0;
	}
	
		#logo{
			@include column($body-container-cols / 2); 
			height: 77px;
		}
		
		#tools{			
			@include column($body-container-cols / 2, true); 
			text-align: right;
			margin-top: 10px;
			color: #aaaaaa;
			a {	color: #aaaaaa; }
						
		}		

		// Site title
		#site-title {}
			#site-title a {}
				#site-title a span {}

		// Site description/tagline
		#site-description {}

/**
 * Primary Menu
 ************************************************/
	
	// Wrapper for entire menu area
	#primary-menu {
		overflow:hidden;	
		float:left;
		@include column($body-container-cols, true); 
		height: 50px;
		//@include background-image(linear-gradient(#717171,#343434));
 		background: url('../../img/menubg.gif') repeat-x left center;
 		//background-color: #333;  
 		@include border-radius($radius);
	}

		// Menu list.
		#primary-menu ul {
				list-style: none;
				@include column($body-container-cols);
				padding-left: 0;
		}
			#primary-menu li {
				float:left;
				line-height:48px;				
			}
				#primary-menu li a {   	
					display:block;			
					padding: 0 15px;
					color: #fff;
					text-decoration:none;
					border-left: 1px solid rgba(0, 0, 0, 0.1);
					border-right: 1px solid rgba(255, 255, 255, 0.1);
					//@include transition-property(all);
					//@include transition-duration(2s);					
					//background-color: #717171;
					//@include background-image(linear-gradient(#717171,#343434));
					border-top: 1px solid lighten($color-primary-c, 10%);
					border-bottom: 1px solid darken($color-primary-c, 10%);
				}

				// rounded corners on very first menu item
				#primary-menu li:first-child a {
					//border-left: 0px;
			 		@include border-radius($radius 0 0 $radius);					
				}

				#primary-menu li:last-child a {
					border-right: 0px;				
				}

				// selected item AND hovered item 
				#primary-menu li a:hover,			
				#primary-menu li.current-menu-item a,
				#primary-menu li.current-menu-parent a,
				#primary-menu li.current-post-parent a,
				#primary-menu li.current_page_parent a,
				#primary-menu li.current-page-ancestor a				
				{					
					background-color: $color-contrast-b;					
					//@include background-image(linear-gradient(#858585,#393939));					
					//background:url('../../img/menu_on.gif') repeat-x;
					@include background-image(linear-gradient($color-contrast-b, $color-contrast));					
					border-top: 0px solid rgba(255,255,255,1);
					text-decoration: none;
					border-right: 1px solid $color-contrast-b;
					border-left: 1px solid $color-contrast;
					border-bottom: 1px solid darken($color-contrast-b, 20%);
					border-top: 1px solid darken($color-contrast-c, 10%);
				}				
				
				/*
				// search form
				#primary-menu #searchform{	
					@include column($searchform-cols, true);					
										display: none;
					text-align:right;
					height:22px;
					position:relative;
					margin-top:12px;
					 											
				}
				
				// search field
				#primary-menu #searchform .field{				
					width: 80px;
					border: 0;
					padding: 5px;
			 		@include border-radius(2px);	
					vertical-align: middle;	 						
				}
				
				// search button
				#primary-menu #searchform .submit{
					background: url('../../img/search_button.gif') no-repeat top center;
					border : none;
					color : transparent;
					font-size : 0;
					cursor: pointer;
					height: 22px;
					width: 46px;
					margin-right: 5px;	
					vertical-align: middle;	
				}
				*/

/** 
 * Secondary Menu					
 **********/

	$sidebar-columns: floor($body-container-cols / 4);
	 
	#sidebar {
		@include column($sidebar-columns); 
		//@include append(1);
	}	 
	
	.sidebar-menu {
		@include column($sidebar-columns); 		
		padding-bottom: 20px;
	}
	
	.sidebar-image {
		@include column($sidebar-columns); 		
		padding-bottom: 20px;
		
		img {
			@include border-radius($radius);
		}		
	}
	
	// hide category name in submenu
	#sidebar li.categories,
	#sidebar li.pagenav {
		@include column($sidebar-columns, true); 
		//margin-bottom: 20px;
		list-style-type: none;
		
		h2 { display:none; }
	}			
	
	#sidebar ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	#sidebar ul li {
		display:inline;
		height:30px;
		line-height:30px;

	}
	#sidebar ul li a {
		color: $color-primary;
		float:left;
		text-decoration:none;
		width:100%;
		background:url('../../img/submenu_off.gif') no-repeat;
		background-position:7px 50%;
		text-indent: 25px;
		border-bottom: 1px solid $color-secondary-c;
		height: 30px;
		overflow: hidden;		
	}
	#sidebar ul li a:hover,
	#sidebar ul .current-menu-item a,
	#sidebar ul .current-cat a {
		background:url('../../img/submenu_on.gif') no-repeat;
		background-position:0 50%;
		text-decoration: none;
		font-weight: normal;
	}
/**
 * Containers below the header and navigation
 ************************************************/

	// Content for pages with sidebar
  $content-cols: ceil(3 * $body-container-cols / 4);
	#content {
		@include column($content-cols, true);
	}
	
	// Content without sitebar OR frontpage-template
	#content.no-sidebar
	{
		@include column($body-container-cols, true); 
	}	

		// Breadcrumb trail
		.breadcrumb {}
			.breadcrumb-trail {}

		// Archive and search <div> before posts are listed
		.archive-info
		.author-info {}
		.term-info
		.category-info {}
		.tag-info {}
		.date-info {}
		.search-info {}

			// Archive and search page titles.
			.archive-title
			.author-title {}
			.term-title {}
			.category-title {}
			.tag-title {}
			.date-title {}
			.search-title {}

		// Entry wrapper <div>
		.hentry {}
		.post { margin-bottom: $margin;}
		.page {}

			// Post, page, and 404 page titles
			.entry-title {}
			.post-title {}
			.page-title {}
			.attachment-title {}
			.error-404-title {}

			// Author and date byline
			.byline {}

			// Full entries
			.entry-content,
			.post-content { margin-bottom: $margin; }

			// Excerpts (introduced)
			.entry-summary {}

				// Using <!--nextpage-->
				p.page-links a {}

				// More link <!--more-->
				a.more-link {}

			// Entry metadata
			.entry-meta {}
			
			// read more link
/*			a.button{ 
				margin: 5px 0;
				padding: 5px; 
				background-color: #d1211c;
				color: white;
				text-transform:uppercase;
				@include border-radius(2px);
				font-size: 0.9em;
				@include transition(background-color, 0.4s);
			}
			
			a.button:hover{
				background-color: #820f13;
				text-decoration:none;
			}
*/
		// Post series
		.series {} 
			.series-title {}

		// Navigation links
		.navigation-links {}
			.navigation-links .previous {}
			.navigation-links .next {}

		// WP PageNavi (plugin)
		.wp-pagenavi {}
			.wp-pagenavi .pages {}
			.wp-pagenavi .current {}
			.wp-pagenavi .extend {}
			.wp-pagenavi a {}

		// Attachment image navigation
		.navigation-attachment {}

		/**
		 * Comments template
		 ************************************************/

		// Wrapper for entire comments area
		#comments-template {}

			// Comments section headers/titles
			.comments-header {}
			#comments-number {}

			// Comments closed paragraph
			p.comments-closed {}

				// Main comments section
				#comments {}
					#comments ol {}

						// Individual comments (note that WordPress has even/odd backwards)
						#comments li {}
							#comments li li {}
								#comments li li li {}
									#comments li li li li {}
						#comments li.even {}
						#comments li.odd {}
						#comments li.thread-even {}
						#comments li.thread-odd {}
						#comments li.author {}
						#comments li.trackback {}
						#comments li.pingback {}

							// Comment avatars
							#comments .avatar {}

							// Comment metadata
							#comments .comment-meta {}
								#comments .comment-meta cite {}

							// Comment text
							#comments .comment-text {}

					// Paged comments navigation
					#comments-template .paged-navigation {}
						#comments-template .paged-navigation .page-numbers {}
						#comments-template .paged-navigation .next {}
						#comments-template .paged-navigation .prev {}

				// Main comment form div
				#respond {}

					// Comment form title
					#reply {}

					// Comment form elements
					p#cancel-comment-reply {}
					#respond form {}
						#respond .form-author {}
							#respond input {}
						#respond .form-email {}
						#respond .form-url {}
						#respond .form-textarea {}
							#respond textarea {}
						#respond #submit {}
							#respond #submit:hover {}

		/**
		 * Utility widget sections (see other widget code below)
		 ************************************************/

		// All utility widget sections (except widgets template)
		.utility {}

		// Before content
		#utility-before-content {}

		// After content
		#utility-after-content {}

		// After post but before comments
		#utility-after-single {}

		// After page but before comments
		#utility-after-page {}

		// Widgets page template widgets
		.page-template-widgets #content .widget {}

	/**
	 * Widget sections (Primary and Secondary)
	 ************************************************/

	// Widgets in general
	.widget {}
	
		.widget-inside {}
			.widget-title {}

	// Primary widget section
	#primary {}
		#primary .widget {}
			#primary .widget-inside {}
				#primary .widget-title {}
				#primary .widget ul {}
					#primary .widget ul li {}

	// Secondary widget section
	#secondary {}
		#secondary .widget {}
			#secondary .widget-inside {}
				#secondary .widget-title {}
				#secondary .widget ul {}
					#secondary .widget ul li {}

/**
 * Footer
 ************************************************/

// Wrapper for the entire footer
#footer-container {}

	// Footer section
	#footer {
		@include column($body-container-cols, true);
		padding: $margin;		
	}

		#footer .text {	
			@include column(45);
			color: $color-primary-c;
			font-size: 0.9em;
		}
		
		#footer .logo {	
			@include column(2, true); 	
			text-align: right;
		}
				
/****************************************************/

/**
 * Contact form 7
 **/	

//for embeded form in iframe 
body.page-template-template-iframe-php{
	background-color: $color-secondary;
	background-image:none;

	div.wpcf7 {
		background-color: $color-secondary;
		padding-bottom: 30px;
	}
}

div.wpcf7{
	// error message for select box (title)
	.wpcf7-form-control-wrap.title span.wpcf7-not-valid-tip {
		position: static;
	}
	
	// error message for textarea (address)
	.wpcf7-form-control-wrap.address span.wpcf7-not-valid-tip {
		top: -10px;
	}	

	// general error message
	.wpcf7-not-valid-tip{
		position:absolute;
		top: -1px;
		padding: 0;
		margin: 0;
		left: 2%;
		border:0;
		color:red;
		background: none;
	}
	// general positioning of fields
	.input-field { margin-bottom:10px; }
	.input-field input, .input-field textarea { width: 300px; }
	
	//positioning of title, first- and last name
	.multiple-fields{ float:left; }
	.multiple-fields { margin-right: 10px; }
	.multiple-fields.title, .multiple-fields.title .input-field select{ width: 60px;}
	.multiple-fields.first-name, .multiple-fields.first-name .input-field input{ width: 110px;}
	.multiple-fields.last-name, .multiple-fields.last-name .input-field input{ width: 110px;}
}

/*****************************************************************
 *	CUSTOM POST TYPES
 *****************************************************************/    

 /*
  * Clinic
	**********************************/
	
	.post.clinic {
		h1 {
			//float: left;
			@include column(18);
			margin-top: 10px;			
		}
		
		.post-content {
			@include column($content-cols, true);
		}
		
	}
	
	.contact {
		@include column( $content-cols / 2 );	
				
		p.address {	background: url('../../img/icon-address-black-20px.png') no-repeat	center left; }
		p.telephone {	background: url('../../img/icon-telephone-20px.png') no-repeat	center left; }		
		p.telephone, p.address {
			padding-left: 25px;
			min-height: 20px;
			line-height:13px;
		}
	}	
	
	.opening_hours {
			@include column( $content-cols / 2, true );	
	}
	
	.gmap a {
		float: left;
	}

 /**
  * region
  **********************************/

	div.post.region {
		
		#country-selector {
			width: 155px;
		}
				
		.country-wrapper {
			@include clearfix;
			//margin-top: 20px;
			//border-left: 1px solid $color-secondary-c;
			//border-top: 1px solid $color-secondary-c;			
		}
		
		.country {
			display: block;
			float: left;
			width: 34px;
			height: 24px;
			white-space: nowrap;
			overflow: hidden;
			//border-right: 1px solid $color-secondary-c;
			//border-bottom: 1px solid $color-secondary-c;
			padding: 10px;
			
			img {
				width: 100%;
			}
		}
				
	}
 
 /**
  * vaccination
  **********************************/
	table.zebra {
		width:100%;
		margin-bottom: 10px;
		border-top: 1px solid $color-secondary-c;
		border-right: 1px solid $color-secondary-c;
  	
  		thead tr td {
				font-weight: bold; }
  		
  		td {
  			line-height: 25px;
				padding: 5px 15px;
				border-bottom: 1px solid $color-secondary-c;
				border-left: 1px solid $color-secondary-c; }
  		
  		tbody tr:nth-child(odd){
  			background-color: #f6f6f6; }
  }
  
 /**
  * country
  **********************************/  

	$sidebar-columns: floor($body-container-cols / 4);

	.country-meta-header {
		@include column($sidebar-columns);
		text-align: center;
		//font-size: 18px;
		//padding: 0 0 20px 0;
		margin: 0 0 20px 0;
		font-family: $typography-family-secondary;		
	}

	.country-meta {
		@include column($sidebar-columns);
		border: 1px solid $color-secondary-c;
		display: block;
		//@include prepend(1);
		//margin-top: 15px;
		text-align: left;
		line-height: 2em;
		padding-bottom: 10px;

		tbody {}
		td {
			padding: 5px 10px 0 10px;
		}
		
	}
	
	.country-flag {
		@include column(3);
		
//		width: 30px;
		text-align: right;
		margin-top: 10px;
				
		img {
			width: 100%;
		}
	}


  div.post.country{	
	
		h1 {
			//float: left;
			@include column(18);
			margin-top: 10px;			
		}
			
		#vaccinations_groups {
			float: left;
			clear: both;
			width: 100%;
			border-top: 1px solid $color-secondary-c;
			border-left: 1px solid $color-secondary-c;			
		}
	
		table#vaccinations_groups thead tr td {
			font-weight: bold;
		}

		table#vaccinations_groups tr td:first-child	{
			text-align: left;
		}
	
		table#vaccinations_groups tr td{
			text-align: center;	
			padding: 5px 10px;
			border-bottom: 1px solid $color-secondary-c;
			border-right: 1px solid $color-secondary-c;			
							
			img {
				margin-top: 5px;
				width: 18px;
				height: 18px;
			}
		}

		table#vaccinations_groups tr td.vaccination-name {
			width: 30%;
		}
		
		.disclaimer {
			@include column($content-cols, true);
			color: #aaa;
			h3 {
				margin-top: 0;
			}
			ul {
				margin: 10px 0;
			}
		}
  
  }

/**
* faq
**********************************/    

.post.faq{	
	
	#searchFaq {
		@include border-radius(3px);
		//@include background-image(linear-gradient(#fff, #f0f0f0));
		width: 200px;
		padding: 10px;
		border: 1px solid #bebebe;
		background-color: #fff;
		color: #000;
		outline: none; }
		
	#clearSearch {
		@include border-radius(3px);
		padding: 2px 6px 3px 6px;		
		//border: 1px solid #D8DCDF;		
	}
}


/*****************************************************************
 *	Templates
 *****************************************************************/    
		
/*
 * Booking template
 **************************/
div.template.booking {
	
	h1 {
		text-align: center;
	}
	
	.form{
	  $formColumns: $body-container-cols / 2;			
		@include column($formColumns);
		
		$formHeight: 25px;
		$padding: 5px;
		
		label {	 					
				$labelColumns: floor( $formColumns * 1 / 3 );
	 			@include column( $labelColumns );
	 			text-align: right;
				line-height: $formHeight;			 			
	 			height: $formHeight;
	 			padding: $padding 0;
	 			text-weight:bold;
		}
		
		.fieldWrapper {
			@include column( ceil( $formColumns * 2 / 3 ) , true);
 			//height: $formHeight;
 			padding: 6px 0;
 			position: relative;
 			
 			input,textarea,select {
 				padding: $padding;
 				height: $formHeight - ( $padding * 2);
 				display:block;
				width: 100%;
 			}		 		
		}
		.fieldWrapper.textarea {
			//height: 50px;
 			textarea { height:40px; }
		}	 
		.fieldWrapper.select {
			//height: 25px;
 			select { height: 25px; }
		}
		#booking .radio input[type="radio"] {
			margin: 0 5px;
			padding: 0;
			position: relative;
			float: left;
			display: block;
			width: auto;
			width: 12px;
		}
		.radio span {
			display: block;
			margin: 0 5px;
			width: 12px;
			float: left;
		}
		.radio.fieldWrapper {
			width: 170px;
		}
	}

	
	.iframe {
		@include column($body-container-cols / 2, true);
		
		.iframe-placeholder {
			margin: 0 10px;
			
			img {
				@include border-radius($radius);
			}
			p {
				margin-top: 10px;
			}
		}
	} 			
	
	// validation rules	
	label.error {
		//position: absolute;
		//top: 0px;
		//left: 220px;
		padding: 0;
		width: 100%;
		color: $color-contrast;
		font-style: italic;
		text-align:left;
	}
	
}

/*
 * Generic Fixes
 ********************************/
.clearfix{
	@include clearfix;
}  

// jQuery UI corrections/adjustments

.ui-dialog {
	@include box-shadow(0px 4px 8px rgba(000,000,000,0.2));
}
.ui-widget-content, .ui-widget-header {
	border: 0;
}
.ui-accordion .ui-accordion-content {
	margin-top: 0;
}

/**
 * Elements
 ************************************************/

html body { 

// Standard forms
form {
  //@include blueprint-form;
}

// Hyperlinks 
a {
	text-decoration: none;
	outline: none;
	color: $color-contrast;
}
a:visited {
	color: $color-contrast;
}
a:hover {
	text-decoration: underline;
	color: $color-contrast-b;	
}
a:active {
	color: $color-contrast-b;	
}

h1, h2, h3, h4, h5, h6 {
	//padding-bottom: .4em;
	margin: 20px 0 15px 0;
}

// Headers 
h1 {
	font-size: 30px;
	line-height: normal;
	font-weight: normal;
	font-family: $typography-family-secondary;
	margin-top: 15px;
}

h2{
	font-size: 24px;
	font-weight:normal;
	font-family: $typography-family-secondary;
}

h3 {
	font-size: 19px;
	font-weight:normal;
	font-family: $typography-family-secondary;
}
	
h4 {}
h5 {}
h6 {}

// Text elements 
strong {}
em {}
cite {}
abbr {}
acronym {}
sup {}
sub {}
address {}
ins {}
dfn {}
del {}

// Paragraphs 
p {
	margin-bottom: 1.5em;
}

// Unordered lists 
ul {}
	ul li {}
	
/* ul */
ul.nodots {
	padding:0;
	margin:0;
	list-style-type:none;
}

.post ul {
	//list-style: inside url('../../img/dlvs-12-grayscale.png');
	list-style: inside disc;
	margin:0 0 10px 0;
}

ul li { 
	margin:0 0 5px 0;
}	

// Ordered lists 
ol {}
	ol li {}

// Defition lists 
dl {}
	dt {}
	dd {}

// Blockquotes 
blockquote {}
	blockquote blockquote {}
	blockquote em {}

// Object 
object {}

// Code 
code {}
pre {}
pre code {}

// Tables 
table {}
	caption {}
	tr {}
	th {}
	td {}

// Forms 
form {}
	select, input, textarea {
		border: 1px solid $color-secondary-d;
		@include border-radius(3px);
		font-size: $typography-size-normal;
		@include single-box-shadow(rgba(0,0,0,0.05), 0, 2px, 5px, 0, inset);
	
		// validation error formatting
		&.error {
			border: 1px solid $color-contrast;
		}
	}
		
	label {}
	option {}

// Notes 
.note {}

// Warnings/Alerts
.warning, .alert {}

// Errors
.error {}

// Downloads
.download {}

// Alignment
.left, .alignleft {}
.right, .alignright {}
.center, .aligncenter {}
.block, .alignnone {}
.clear{clear:both;}	

// general headers
p.header {
	font-weight: bold;
	margin-top: 10px;
}

/**
 * Images
 ************************************************/

// Normal images
img {}
a img {}

// WP Smilies
img.wp-smiley {}

// Thumbnails
.thumbnail {}

// WP Captions [caption]
.wp-caption {}
	.wp-caption img {}
	.wp-caption p {}

// Gallery [gallery]
.gallery {}
	.gallery img {}

// Avatars
.avatar {}

}

/**
 * WP style: wysiwyg styles
 ********************************/
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}  
